<div class="row-fluid">
  <div class="span4 well">
    <%= simple_form_for @advertisement do |a| %>
      <fieldset>
        <legend>Advertisement</legend>
          <div class="field">
            <%= a.label :title, :class => "control-label" %>
            <%= a.text_field :title, :class => "input-xlarge" %>
          </div>
        <br>
          <div class="field">
            <%= a.label :body %>
            <%= a.rich_text_area :body %>
          </div>
        <br>
          <div class="form-actions">
            <%= a.submit :class => "btn btn-primary" %>
          </div>
        </fieldset>
    <% end %>
  </div>
</div>
