<p id="notice"><%= notice %></p>

<h1>Advertisements</h1>
<div class="span4 well">
<table class = 'table'>
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Title</th>
    <th scope="col">Status</th>
    <th scope="col">Actions</th>
  </tr>
</thead>
  <tbody>
    <% @advertisements.each do |advertisement| %>
      <tr>

        <td><%= advertisement.id %></td>
        <td><%= advertisement.name %></td>
        <td><%= advertisement.state %></td>

        <td><%= link_to 'Show', advertisement %></td>
        <td><% if can? :update, advertisement %>
          <%= link_to 'Edit', edit_advertisement_path(advertisement) %>
         <% end %>
        </td>

        <td><%if can? :add, advertisement %>
          <%if advertisement.draft? %>
           <%= link_to 'Add', add_advertisement_path(advertisement),
           method: :patch %>
          <% end %>
         <% end %>
        </td>

        <td><%if can? :approve, advertisement %>
          <%if advertisement.added? %>
           <%= link_to 'Approve' , approve_advertisement_path(advertisement),
           method: :patch %>
          <% end %>
         <% end %>
        </td>

        <td><%if can? :cancel, advertisement %>
          <%if advertisement.added? || advertisement.approved? %>
           <%= link_to 'Cancel' , cancel_advertisement_path(advertisement),
           method: :patch %>
           <% end %>
         <% end %>
        </td>

        <td><%if can? :publish, advertisement %>
          <% if advertisement.approved? %>
           <%= link_to 'Pablish', publish_advertisement_path(advertisement),
          method: :patch %>
          <% end %>
         <% end %>
        </td>

        <td><%if can? :archive, advertisement %>
          <% if advertisement.published? %>
            <%= link_to 'Archive', archive_advertisement_path(advertisement),
            method: :patch %>
          <% end %>
         <% end %>
        </td>

        <td><% if can? :destroy, advertisement %>
          <%= link_to 'Destroy', advertisement,
          method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
       </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
 <div><%if current_user.user? %>
   <%= link_to 'New Advertisement', new_advertisement_path,
   class: 'btn btn-primary btn-lg active' %>
      <% end %>
 </div>
